<div class="container-fluid bg-light about pb-5">
            <div class="container pb-5">
                <div class="row g-5">
                    <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                        <div class="about-item-content bg-white rounded p-5 h-100">
                            <h4 class="text-primary">{{title_1}}</h4>
                            <h1 class="display-4 mb-4">{{title_2}}</h1>
                            {{description}}
                        </div>
                    </div>
                    <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;">
                        <div class="bg-white rounded p-5 h-100">
                            <div class="row g-4 justify-content-center">
                                <div class="col-12">
                                    <div class="rounded bg-light">
                                       
                                        
                                        
                                        
	                            {{if about_us_image}}
                                <img src="{{about_us_image}}" class="img-fluid rounded w-100" />
                                {{/if}}
                               
                                        
                                        
                                    </div>
                                </div>
                                {{our_numbers}}
                                <div class="col-sm-6">
                                    <div class="counter-item bg-light rounded p-3 h-100">
                                        <div class="counter-counting">
                                            <span class="text-primary fs-2 fw-bold" data-toggle="counter-up">{{number}}</span>
                                            <span class="h1 fw-bold text-primary">+</span>
                                        </div>
                                        <h4 class="mb-0 text-dark">{{title}}</h4>
                                    </div>
                                </div>
                                {{/our_numbers}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>