

<div class="container-fluid bg-light about py-5">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-xl-8 wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                        <div class="about-item-content  rounded  h-100">
                            
                            
                            {{feature_detail}}
                           
                            
                        </div>
                    </div>
                    <div class="col-xl-4 wow fadeInRight" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;">
	                    <img src="{{feature_image}}" alt="{{title}}" class="img-fluid w-100 rounded">
                        
                    </div>
                </div>
            </div>
        </div>