<div class="container-fluid feature bg-light py-5">
            <div class="container py-5">
                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px; visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h4 class="text-primary">{{title_1}}</h4>
                    <h1 class="display-4 mb-4">{{titile_2}}</h1>
                    <p class="mb-0">{{short_description}}</p>
                </div>
                <div class="row g-4">
                    
                    {{ collection:features status:is="published" }}
                    
                    
                    
                    <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="feature-item p-4 pt-0">
                            <div class="pt-4 pb-4">
	                            {{contents}}
	                            {{if feature_image}}
                                <img src="{{ glide :src="feature_image" w="260" }}" alt="{{title}}" class="bordered" />
                                {{/if}}
                                {{/contents}}
                            </div>
                            
                            <h4 class="mb-4">{{title}}</h4>
                            <p class="mb-4">{{short_description}}</p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="{{url}}">Learn More</a>
                        </div>
                    </div>
                    
                     {{ /collection:features }}
                    
                </div>
            </div>
        </div>