<div class="container-fluid bg-breadcrumb" style="background-image: url({{inside_page_banner}})">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInDown;">{{title}}</h4>
               
                    
                
                 <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInDown;">
    {{ nav:breadcrumbs }}
    <li class="breadcrumb-item {{ if is_current }}active text-white {{ /if }}">
    	{{if !is_current}}
        <a href="{{ url }}">{{ title }}</a>
        {{else}}
        {{ title }}
        {{/if}}
    </li>
    {{ /nav:breadcrumbs }}
</ol>
                
                   
            </div>
        </div>